body{
    background-color: white;
}

.wrapper {
    justify-content: space-between;
    display: flex;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background:black;
    color: #fff;
}

.cards {
    width: 19rem;
    height: 40px;
    background-color: white;
    display: flex;
    border-style: 2px black;
}

.icon{
  color: white;
}

.card-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black ;
}

.card-img-top{
    width: 19rem;
    height: 40px;
}
.menu-esquerdo{
    font-size: 10px;
    color:white;
}

.meu-direito{

}
